.ant-form.login-form {
    width: 400px;
    height: 600px;
    position: absolute;
    right: 30px;
    top: 500px;
}

.auth-main-title {
    position: absolute;
    top: 339px;
    right: 150px;

/* LMS Student / H1 */

font-family: 'Mulish';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 60px;
text-align: center;
letter-spacing: 0.015em;

/* /Orange / 7 */

color: #373839;
}